[2020-04-28 06:04] cstepper opened #1 "Time Slider"
Hi,
just found your package here on Github.
We're currently working with movement data (including timestamps). I was just wondering, if you have any plans to integrate one of these ["Time Slider" Plugins](https://leafletjs.com/plugins#time--elevation). This would be a cool feature to use in our analysis
Cheers, Christoph

[2020-04-28 06:32] tim-salabim commented on #1
@cstepper have you seen https://github.com/timelyportfolio/leaftime?

[2020-04-28 06:51] trafficonese commented on #1
And the [LeafletPlayback](https://github.com/hallahan/LeafletPlaybackurl) is included in this package, although I'm not too happy about the implementation, but it works.

[2020-04-28 07:12] tim-salabim commented on #1
+1 for the Leflet.Heightgraph plugin!

[2020-06-12 14:05] cookalex77 opened #2 "Issues with adding wind data to AddVelocity() in leaflet.extras2"
Hi, I am trying to use the AddVelocity function in the leaflet.extras2 package in R so that I can add wind velocity visualization data to my leaflet map. I have found JSON u and v wind data from NOAA, but I cant seem to successfully add my wind velocity data using the content=. Any suggestions on how to format the json data so that AddVelocity can process it into an animation? The code below runs

[2020-06-15 07:19] trafficonese commented on #2
Hey, unfortunately this is not very straightforward. You would have to look at the demos of https://github.com/danwild/leaflet-velocity or the code at https://github.com/danwild/wind-js-server.
It basically transforms GRIB2 data to JSON, but since you and `wind-js-server` use NOAA data, it should be possible.

[2020-06-15 16:31] MoritzMennenga opened #3 "addWMS() is not showing the maps"
I'd I tried around a lot, but addWMS() doenst't work in my case. I tried it with my data first and then I used your example https://github.com/trafficonese/leaflet.extras2/blob/master/inst/examples/wms_popup.R. If I use leaflet.extras2::addWMS() there is no WMS displayed. If I use the same with addWMSTiles (and without the popup) I can see the WMSmap but I can't use the popup Feature for the getFe

[2020-06-15 16:52] trafficonese commented on #3
Do you see any errors in the browser console?
Could you install the Github version without error/warnings? And do you also see the same behavour with the CRAN version?

[2020-06-15 17:41] MoritzMennenga commented on #3
Solved. I tried it all the time in the R-Studio Preview and didn't start it in the browser...
It worked there. Thanks a lot for this package!

[2020-06-15 17:41] #3 closed

[2020-06-16 08:22] trafficonese commented on #3
Hm, still interesting as it works in my R-Studio preview aswell. But I am glad it is solved for you!

[2020-06-16 08:24] trafficonese commented on #1
@cstepper is this solved for you, or would you need/prefer another Time-plugin?

[2020-06-23 06:34] cstepper commented on #1
@trafficonese yes, this is solved from my side. I could work with the leaftime, which Tim recommended.

[2020-07-30 12:07] simon-tarr opened #4 "Blank WMS Pop Up"
Hello,

I'm trying to load some data on wetland areas into a Leaflet map and enable a popup when clicking various parts of the layer. I have studied the WMS XML file and I believe it's queryable, so I thought I would be able to implement this functionality with `leaflet.extras2::addWMS()`. I've included below a short code snippet showing what I'm up to. I was wondering if I've done something wrong

[2020-07-31 06:03] trafficonese commented on #4
The popup contains an `iframe`, which is blocked because of a Cross-Origin-problem. This might have to be tackled in the [underlying library](https://github.com/heigeo/leaflet.wms).

Those are the errors I see in the browser console:
https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSMissingAllowOrigin
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options

[2020-07-31 08:27] simon-tarr commented on #4
Thanks for the reply. It's a shame that it's possibly an issue with leaflet.js....I'm assuming a reasonably quick fix for this is probably out of the question? I'm happy to raise an issue with the library team but not sure how best to word it. Are you able to assist?

[2020-08-11 14:53] wyuill commented on #1
Hi.

Thanks for creating leaflet.extras2 - nice to see some new features coming in. Could I cast another vote for "Time Slider" Plugins/reopen this issue? Time Slider is one of the few packages which allow selecting a time range rather than a single point in time. This is particularly a problem because there are issues with [crosstalk and dates](https://github.com/rstudio/crosstalk/issues/65) mean

[2020-08-12 08:58] trafficonese commented on #1
Do you mean [this plugin](https://github.com/dwilhelm89/LeafletSlider)? I will have a look at it.

[2020-08-12 14:27] trafficonese commented on #1
Fortunately, that was much easier to implement than the playback plugin.
The dev version now has the function `addTimeslider`. I hope that fits your needs.

[2020-08-15 04:09] dewalex opened #6 "addWMS() no layerId argument"
I'm trying to make the Sidebyside with two WMS layers, but I need a layerId to do that.  The addWMS() function does not have a layerId argument.  Is there any way to make this work?

[2020-08-15 05:12] dewalex commented on #6
I see from testing other things with Sidebyside that it may actually be the lack of an option for pathOptions(pane="") that is keeping the addWMS() from being used in Sidebyside.

[2020-08-15 10:13] wyuill commented on #1
Brillant thanks for doing this staggeringly fast.

[2020-08-15 10:15] trafficonese commented on #6
The argument `layers` is used as `layerId`.

It seems to be possible to use 1 call to `addWMS` with `addSidebyside` but not 2. I will have to dig a bit deeper to understand why it is not working correctly.
[code]

[2020-08-17 07:08] trafficonese commented on #6
Using `untiled=FALSE` seems to work. However, the click event ignores the pane argument and triggers also when moving the slider.

[code]

[2020-08-17 08:05] trafficonese commented on #6
I just pushed 7a17032 which should make the `pane` argument work for tiled and untiled WMS.

[2020-08-17 08:05] #6 closed

[2020-08-17 15:44] dewalex commented on #6
Thanks so much for looking into this so quickly.

What I am trying to do with Sidebyside, is to compare the same satellite imagery based on two different time ranges.  That means that the `layers` argument will be the same name, which will interfere with the layerId argument.  Here is my sample code:

leaflet() %>%  setView(-86.39548,36.17889, 15) %>%
  addMapPane("left", zIndex = 0) %>%
  addMapP

[2020-08-17 16:18] dewalex commented on #6
Also, is there any way to just turn the click info off, so that we don't get the issue with the box popping up every time that the slider is moved?

[2020-08-17 19:37] trafficonese commented on #6
I will look into it, but if you dont need the click info, it might be better to just use leaflets `addWMSTiles` instead. You can just exchange the `addWMS` calls with `addWMSTiles`. Would that work?

[2020-08-17 20:12] dewalex commented on #6
It looks like that might be a good solution, since the only info i was trying to extract from the tiles was the date. I can call both layers (the image and date) and it will display the date over the tile. I’ll give it a try and let you know if I run into any issues. Thanks

[2020-08-18 18:24] trafficonese commented on #6
`addWMS` now inherited a `layerId` argument and works almost identical to `addWMSTiles`. The only differences are the getFeatureInfo feature and the `popupOptions` argument.

[2020-08-18 19:03] #1 closed

[2020-09-16 07:31] s5joschi opened #7 "Feature Request: Leaflet.VectorGrid for rendering medium to large datasets efficiently in Leaflet"
Hi guys. First: Great work. Thanks for this library!

Any chance rendering vector tiles could make it into the project here?

https://github.com/Leaflet/Leaflet.VectorGrid.

It's one of the most important features besides raster tiles to display large datasets. Otherwise, Leaflet in R/Shiny is always bound to work with very small polygon datasets or operate with a very low/unusable rendering speed

[2020-09-21 07:20] trafficonese commented on #7
Hey, thank you.

Yes I think I could add this plugin here, I tried some GeoJson files and it worked pretty straightforward, although currently I'm not sure how to implement the coloring method and so far I couldn't get a Protobuf example to work. I'll have to dig a little deeper but I keep you posted.

[2020-09-21 14:18] s5joschi commented on #7
Hi @trafficonese . That Sounds amazing! I will help testing as soon as there is a first version implemented.

[2020-09-25 19:06] trafficonese commented on #7
I'm not sure the plugin does what you want it to do. If you are plotting spatial data (which will be converted to GeoJSON) I don't think it will be faster than the basic leaflet functions and possibly might even be slower. I think the best choice for large spatial data might be `leafgl` or `mapdeck`.

As I understand it, the only advantage of the plugin is that you can use vector tiles from Mapbox

[2020-09-26 20:17] trafficonese commented on #7
I just published the branch "vectorgrid", but I am afraid it is far less efficient than `leafgl`.
However, using vector tiles through protobuf could be a nice addition though.

You can install the branch with:
`remotes::install_github("trafficonese/leaflet.extras2@vectorgrid")`

I also included 2 examples in `./inst/examples/`: `vectorgrid_app.R` and `vectorgrid_pbf_app.R` (You need to insert your

[2020-09-28 18:41] s5joschi commented on #7
Hi @trafficonese. Sounds like progress!! The option with the tile server was exactly what I was thinking about when requesting that feature. I knew about leafgl but documentation suggests it’s quite experimental still. As far as I can see there is no real other option then using an own tile server... is that something that would already work in the current version? I’ll have a look at your example

[2020-11-09 10:29] trafficonese commented on #7
@s5joschi Hey, did you manage to try out the `vectorgrid` branch? Unfortunately, I don't have my own tile server, so I couldn't test that, but it works with the big vector-tile players (Mapbox, Nextzen, etc)

[2020-11-12 13:29] MaelTheuliere opened #8 "Feature Request : add L.Control.Rose plugin"
I see no alternative to add north arrow to a leaflet map.
This feature is asked by users of our maps, especially for png export.
Link to the plugin https://github.com/bradhamson/L.Control.Rose

[2020-11-12 14:02] tim-salabim commented on #8
@MaelTheuliere you could try to use [`leafem::addLogo`](https://github.com/r-spatial/leafem#addlogo) for this porpose (sorry that I didn't mention it in the other issue) if you can find a suitable north_arrow.png

[2020-11-13 08:28] tim-salabim commented on #8
Here's a reprex:

[code]

![](https://i.imgur.com/dHMSEZy.png)

<sup>Created on 2020-11-13 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-11-13 09:43] trafficonese commented on #8
Hey @MaelTheuliere I think that `leafem :: addLogo` works well for this task and also allows you to define your custom image while the plugin only offers ~7 different .svg files.

On the other hand, this plugin should be pretty easy to implement. If you want to try it out, I would of course be happy about a PR.

[2020-11-13 10:08] MaelTheuliere commented on #8
Thanks @trafficonese and @tim-salabim. I think `leafem :: addLogo` will do the job ! If I find some time to make a PR with `L.Control.Rose`, I will let you know.

[2020-11-13 10:08] #8 closed

[2020-11-14 09:43] s5joschi commented on #7
Hi @trafficonese . Sorry for keeping you waiting so long. We are still at setting up the servers. It's taking a bit longer because there had been some unforeseen things to be finished at the end of the year. But I'm positive that we will be able to test it in the upcoming weeks. I will get back to you, as soon as they are finished, Promise!

[2020-11-22 10:06] s5joschi commented on #7
Hello @trafficonese . My friend did a setup with a Geoserver and we are starting to test with a vector and a raster dataset. Just a Short question. In the two examples you have two different functions. One is using Protobuf with `addProtobuf() `and one is using `addVectorgrid()` with geojson, however with a local json file in your example. Any ideas on how to create a WMS, WFS or WMTS request to a

[2020-11-23 08:56] trafficonese commented on #7
You should use the `addProtobuf` function, which gets the vector tiles from an URL. Maybe this tutorial can help you:
https://docs.geoserver.org/latest/en/user/extensions/vectortiles/tutorial.html

The URL should look something like this:
`http://XX.XXX.XXX.XXX/geoserver/gwc/service/tms/1.0.0/' + layer + '@EPSG%3A4326@pbf/{z}/{x}/{-y}.pbf'`

[2020-11-28 11:12] s5joschi commented on #7
HI @trafficonese. We are still working on the geoserver side. Seems to be mainly a challenge of creating the correct url.

Meanwhile i'd also like to test it with mapbox which might be an easier option and also more relevant to a larger group of users. I was able to load all default tilesets with your example code but not a custom tileset created with own data in mapbox studio, which I can sucessf

[2020-12-04 14:34] jl5000 opened #9 "Timeslider documentation"
I'm trying to get the timeslider functionality to work but there may be gaps in the documentation which are preventing me from getting something working.

For example, if I have a 6 row dataframe giving an attribute of two nodes at three specific time points (say, years), can I produce a map with a slider showing how this attribute (node colour) changes through time at these nodes? I'm ok with con

[2020-12-12 15:42] trafficonese commented on #9
Currently the function `addTimeslider` just uses the basic marker icon, so it wont work with CircleMarkers or icons. I will have a look at the styling options.

But in the meantime, did you see the package [leaftime](https://github.com/timelyportfolio/leaftime), which might be better suited for your task?

[2020-12-12 16:12] jl5000 commented on #9
Thanks very much for your response. I hadn't heard of leaftime, so I'll check it out, thanks for the tip! :)

[2020-12-12 16:52] trafficonese commented on #9
Taking a closer look at the underlying plugin, I think it should be possible to use circleMarkers and multiple groups. I found this [tutorial](https://github.com/geyerbri/LeafletSlider-tutorial#set-up-html-file-for-map), which should be quite useful for the adaptations needed.

[2020-12-12 19:06] trafficonese commented on #9
I just pushed commit e83ae3d, which changes the markers to circleMarkers and allows styling of every point and popups.

Unfortunately, only 1 marker can be shown at a time. I didn't manage to implement the layerGroups and I'm not sure if this currently really possible.

[2020-12-12 20:02] dburguer opened #10 "menuItem() function"
The new menuItem() function causes me a problem with other packages, such as shiny or shinydashboards. If it were possible to change the name of the function in future versions

[2020-12-12 21:02] trafficonese commented on #9
The commit e313970 should fix the problem. I had to rewrite the underlying plugin a bit, but I think it is definitly worth it.

The example app [timeslider_app.R](https://github.com/trafficonese/leaflet.extras2/blob/master/inst/examples/timeslider_app.R) should reflect the new changes and is what you are looking for, I think. Could you check out the dev version and tell me if it solves your issue?

[2020-12-12 21:05] trafficonese commented on #10
Indeed, there are multiple functions with that name. I haven't thought of it when including that plugin. I will change the function name and deprecate the current function. Do you have an idea for a better name?

[2020-12-12 23:29] dburguer commented on #10
it could be layermenuItems() or you can put the package name at the beginning extras2.menuItem(). That occurs to me now haha. Thanks for the reply!!

[2020-12-14 13:28] jl5000 commented on #9
Thanks for your hard work on this. I tried running the app but got an error message "Warning: Error in addTimeslider: unused arguments"

Would this fix work for a static HTML or does it require shiny?

[2020-12-14 14:30] trafficonese commented on #9
It should work for static HTML aswell.

[2020-12-14 17:11] trafficonese commented on #9
No, actually it didn't work because the `jquery-ui.css` used some .png files as background which markdown can't find.
I removed all those lines and it should work now.

I just tested with this markdown:

[code]

[2020-12-18 08:45] csaybar opened #11 "leaflet.extra2 addSidebyside does not display basemap when is embedded in R Markdown"
Hi @trafficonese. First off, I would like to say thank you for all your effort in the development of this amazing package! :clap: :clap:

**Description**:
When creating a Markdown file (.Rmd) that embeds a leaflet map that uses addSidebyside the basemap (e.g. addTiles & addProviderTiles) does not appear.

**To Reproduce**

[reproducible example](https://github.com/trafficonese/leaflet.extras2/file

[2020-12-18 09:15] trafficonese commented on #11
Hey, indeed thats very interesting, but I am not sure if that is really a `leaflet.extras2` bug. It seems that Tiles on a certain pane dont work.
Removing all `leaflet.extras2` code, the problem still appears.

[code]

[2020-12-18 09:28] tim-salabim commented on #11
https://github.com/r-spatial/mapview/issues/349 also contains a link to an issue opened with the markdown people...

[2020-12-18 09:31] trafficonese commented on #11
Great, thank you @tim-salabim , I knew that issue came up already somewhere, but didnt remember where.

[2020-12-18 16:29] csaybar commented on #11
Thanks @trafficonese and @tim-salabim for your clues :v: :v:. Finally I was able to solve the problem partially. Unfortunately, my knowledge in JS is limited to fully understand the problem, but it seems that there is a conflict between [leaflet-side-by-side](https://github.com/digidem/leaflet-side-by-side) and this line of code in markdown.
https://github.com/rstudio/rmarkdown/blob/433e726ff5aee9

[2020-12-29 15:15] jmhatch opened #12 "Processing data for addVelocity"
I'm not sure this is a `leaflet.extras2` issue, but I thought I'd start here. I'm trying to add wind data to a leaflet map. I download the data using the following link,

Then I convert the grib file to json using the `weacast-grib2json` program,

[code]

Basically following the guidance found [here](https://github.com/cambecc/earth) and [here](https://github.com/cambecc/earth/issues/110).

Howeve

[2021-02-01 22:46] dewalex opened #13 "Feature request: movingMarker"
This person asked in the leaflet thread (to no reply), but I thought this would be a great addition to this package:
[see here for details](https://github.com/rstudio/leaflet/issues/669).

His request is basically to add the movingMarker feature to leaflet R.  For me, I would like to use this for a shiny app where I am streaming in live GPS data.  Currently I use the leafletProxy update in 10 incr

[2021-02-02 10:33] trafficonese commented on #12
Hey @jmhatch, that is very interesting indeed. Unfortunately I have no idea, where this "bug" is coming from. I will have a look at my code but I'm pretty sure I just pass the json to the underlying plugin-library. So no transformation is happening on my side.

Are you sure that you were looking at the same timeranges? I guess a time difference of 1 hour can already make a huge difference.

[2021-02-02 10:34] #9 closed

[2021-02-09 14:27] jmhatch commented on #12
I'm pretty sure it's the same time range. Here is another example, with a ref time of 2021-02-09T06:00:00.000Z from the json file I downloaded, which seems to correspond with what Windy is reporting for GFS.

Windy
![windy_2](https://user-images.githubusercontent.com/35869229/107376986-7d153280-6ab8-11eb-842c-a029623201dd.PNG)

vs. mine
![mine_2](https://user-images.githubusercontent.com/35869229/

[2021-02-10 16:12] Rudolf-May opened #14 "Problems with getFeatureInfo"
Hallo trafficonese,

I had been very happy when i found your plugin for leaflet which enables to retrieve the feature info from a wms when clicking on some feature of a wms layer.
It worked perfectly when I tested this in my local RStudio environment. But -
when I upload the app to my productive server (where shiny server is configured to run behind an apache proxy) I get blank popups instead of t

[2021-02-12 15:44] Rudolf-May commented on #14
I think I have located the cause of the problem.
Having a shiny-server working behind an apache proxy a response status code "301 moved permanently" is returned by the shiny-server.
In the source code of the wms.leaflet plugin there is a helper function to return  the "request.responseText" when the request.status === 200 (line 484 of the source on github). So in the scenario with the apache proxy

[2021-02-12 15:56] trafficonese commented on #14
Hey, thank you very much for digging into this.
I'll just link the issue here (https://github.com/heigeo/leaflet.wms/issues/72)

Did you try it out with accepting the response code 301?

[2021-02-12 16:03] Rudolf-May commented on #14
No, that is beyond my abilities since I am not fit in writing javascript code, though I can read and grasp most of what the code is meant to produce...

[2021-02-17 15:19] trafficonese commented on #14
I uploaded a new branch, which accepts the request code 200 and 301.

You can install it with:
`remotes::install_github("trafficonese/leaflet.extras2@wms_301")`

Could you please check if that works?

[2021-02-18 11:50] trafficonese commented on #13
I just uploaded 4e0f62a, which enables the plugin MovingMarker.
Could you please try (the dev version) to see if it fits or if something is missing?

Here is an example app - https://github.com/trafficonese/leaflet.extras2/blob/master/inst/examples/movingmarker_app.R

[2021-02-19 19:59] dewalex commented on #13
I've given it try with going along a line, with feeding it lat/longs with one duration, and lat/longs with multiple durations, and it all looks great!  This is awesome.  Thanks for bringing this over to R.

[2021-02-19 21:13] dewalex commented on #13
@trafficonese I did catch one thing while trying to implement this in my application.  If it's a possibility, can we add the ability for multiple markers to move?

I am trying to animate the results of 20 different gps units in the same area.  Here is a minimal example with two markers of what I'm thinking:
[code]
Right now the one marker moves over to the 2nd marker's position, when it should be

[2021-02-22 11:10] trafficonese commented on #13
Unfortunately, I dont think there is an easy way of doing that. The moving marker expects 1 track only.
Also, in your case you just pass a vector of coordinates, so there is no way of detecting which points should be visualized separately.

So either you use `addMovingMarker` for every track you want to display, or you could use an lapply-approach.

[code]

or

[code]

[2021-02-22 17:06] dewalex commented on #13
Ok, thought that may be the case :/
I tried running my dataset on a loop like that, but I can't get the icons to work with it (having conditions for which icon to use).

Any ideas how to make it work with the icon?:

[code]

[2021-02-22 17:14] trafficonese commented on #13
Replace `x$id==1` with `x$id[1]==1` in the ifelse, otherwise you will have 2 iconUrl's and that apparently confuses the code.

[2021-02-22 17:39] dewalex commented on #13
Oh ok, I guess that makes sense.  I actually did have it set up that way in my app, but changed it because nothing was plotting. My icons are actually stored in my www folder of my shinyapp, and that seems to be the issue.  When I replace the URL with a png from the internet (instead of "www/icon.png"), it plots.

Is there any reason why the addMovingMarker() would not be referencing the www folde

[2021-02-22 17:49] trafficonese commented on #13
Try changing `www/icon.png` to `./icon.png`
That works for me.

[2021-02-22 19:21] dewalex commented on #13
That solves it.  Thank you!

Thanks so much for getting this going, this really steps up the game for a lot of my visualizations.

There was one other thing that I noticed when testing.  If you leave ```popup=``` blank or set it to ```NULL```, you still get a blank pop up if the user clicks the icon.

[2021-02-23 09:58] trafficonese commented on #13
Indeed, the missing popup should be fixed with e4e199f

Very welcome, I'm glad it helps!

[2021-02-23 20:58] dewalex commented on #13
Do you know if there is a setting I could use to have the markers zoom with the tiles, instead of after?

https://user-images.githubusercontent.com/26653370/108904302-52fd5d80-75ec-11eb-817c-779623e863c4.mp4

[2021-02-24 09:04] trafficonese commented on #13
There is no setting, but apparently there is a workaround, described here: https://github.com/ewoken/Leaflet.MovingMarker/issues/37

But there seems to be a downside to it, explained here: https://github.com/ewoken/Leaflet.MovingMarker/pull/7

I could include it but I am not sure if its really an improvement, since the animation time gets messed up..

[2021-02-24 14:53] dewalex commented on #13
Is it something that could be included in the options, like they did?  For anyone using it like I do, a delay shouldn't hurt (if I'm understanding correctly what happens).

[2021-02-25 10:10] trafficonese commented on #13
There is now the option `pauseOnZoom` with commit 706cb74, that lets you pause/resume the markers while zooming.

[2021-02-25 10:19] trafficonese commented on #12
Could you maybe try to use the json file with the underlying JS-library?
Unfortunately, I am not able to install `grib2json` on my computer, so its a bit hard for me to debug..

[2021-02-25 18:06] jmhatch commented on #12
Good idea @trafficonese!

I was able to replicate the 'mine' image above using the leaflet-velocity JS library. So it isn't a `leaflet.extras2` issue. It must be a  data issue. I'll open up an issue over at leaflet-velocity to see if someone can help me out.

Thanks!

![Capture](https://user-images.githubusercontent.com/35869229/109196440-b52f9d00-7769-11eb-8f1b-896bb17dacd3.PNG)

[2021-02-25 18:06] #12 closed

[2021-02-25 19:32] dewalex commented on #13
Awesome, thanks!!

[2021-02-25 20:26] dewalex commented on #13
I think that the pauseOnZoom is interfering with loop=FALSE.  If you zoom after the marker reaches the end, the loop will start over:
[code]

[2021-02-26 07:04] trafficonese commented on #13
Indeed, I apparently copied the wrong code snippet. It should have been `pause/resume` instead of `pause/start`.
That should be fixed now with 5ea0971.

[2021-02-26 14:29] dewalex commented on #13
Any idea why the pauseOnZoom would only apply to the last moving marker added to the map?

https://user-images.githubusercontent.com/26653370/109312433-0e083f80-7815-11eb-9854-fb0336a74732.mp4

[code]

[2021-02-26 15:58] trafficonese commented on #13
Indeed, that was a design bug, which should be solved with 6768b8b.

One other problem I encountered: If you pause the animation and then zoom, the animation will resume. I dont think there is an easy fix for that unfortunately.

[2021-03-01 15:47] dewalex commented on #13
Nice, thanks for fixing that one.

Yeah, I think people can live with that.  If you have a manual pause, you'll probably have less of the need for the pauseOnZoom feature than someone that doesn't want/need a manual pause button.

[2021-04-05 10:59] wyuill opened #15 "Implement search for circle markers"
Leaflet.extras has a search feature which currntly only works with markers. A [edit of the  lfx-search-prod.js file](https://github.com/bhaskarvk/leaflet.extras/issues/143#issuecomment-450461384) allows the search feature to also work with circle makers. However, this makes it hard to publish or share code. Would it be possible to enable this change in leaflet.extras2? This can be really useful wh

[2021-05-25 13:21] Fsttro opened #16 "Implementation of Labelgun Plugin"
Hi,
thank you very much for all the work you've put in leaflet extras 2 so far.
I think it would be great to implement the [Labelgun Plugin](https://github.com/Geovation/labelgun)
It avoids the collision of labels, if labels are always shown.
Personally, I would use it for city map designs when a lot of markers are in a relatively small place.
I believe it would be of use to anyone who wishes to a

[2021-06-18 14:57] floveil opened #17 "Leaflet.extras2 incompatible with shiny dashboard ?"
Hi,

I develop a web interface via R with shiny, leaflet, mapedit, and mapview (these are the main packages used).
To add a popup with WMS data in my map, I use the leaflet.extras2 package.
In my shiny application, I also added a dashboard.
But, when I use addWMS() from the leaflet.extras2 package with the dashboard, my page does not work. (Code n°1)
To test, I added my WMS feed with the addWMStil

[2021-06-22 09:42] trafficonese commented on #17
Ah, this is a nasty bug, also because there are no errors / warnings.
Unfortunately I named some functions in `leaflet.extras2` also` menuItem`, which apparently causes some confusion.

I will be renaming these functions in the next release.
In the meantime, you can explicitly call all the `menuItem` of` shinydashboard` like this `shinydashboard::menuItem ()`

[2021-06-22 09:56] floveil commented on #17
It works ! Thank you very much

[2021-06-22 09:56] #17 closed

[2021-06-22 10:03] trafficonese commented on #15
I understand this would be a great addition, but somehow I would prefer the fix to be merged into `leaflet.extras`.

I hope we can find a maintainer for leaflet.extras soon, as there are a lot of nice plugins there and also a lot of good PR already.

[2021-07-05 11:54] radbasa commented on #15
I do wonder what happened to `leaflet.extras`, @trafficonese . It's been 2 years 1 month since it was last updated. There are indeed a lot of useful plugins there.

[2021-07-06 11:05] trafficonese commented on #16
Hello,
Although this looks like a nice plugin and I would need this functionality in some of my projects as well, I don't think there is an easy and general way to implement this plugin.
Hopefully someone can prove me wrong.

Maybe [Leaflet.LabelTextCollision](https://github.com/yakitoritabetai/Leaflet.LabelTextCollision) could be an alternative, although it requires to change the `renderer` of th

[2021-07-06 12:22] rlh1994 opened #20 "Implement LabelTextCollision Plugin"
Hi,

I've recently come across the LabelTextCollision plugin as a solution to being able to always label your points but not have them all overlap so that they are entirely unreadable. Unfortunately I don't know enough JS/R to be able to contribute directly to the repo but was hoping it might be possible to implement this at some point.

Source:
https://github.com/yakitoritabetai/Leaflet.LabelText

[2021-07-09 16:01] radbasa commented on #16
I wonder if Labelgun works with leaflet R's `addmarkers(label ="...", labelOptions = labelOptions(...))`

[2021-07-11 11:21] radbasa commented on #16
Labelgun Plugin might be doable.

Looking at the Leaflet example https://geovation.github.io/labelgun/examples/leaflet/index.html

The labels are in the `leaflet-tooltip-pane` `div`:
[code]

In the Leaflet for R docs for Popups and Labels, Customizing Marker Labels https://rstudio.github.io/leaflet/popups.html#customizing-marker-labels

If we use `noHide = T` as demonstrated
[code]

The labels als

[2021-07-11 11:27] radbasa commented on #16
However, both LabelGun and Leaflet.LabeTextCollision seem to have been abandoned. Their last commits are 2017 and 2019.

@trafficonese what's the protocol on using seemingly inactive plugins? I'm also looking at [Leaflet.GroupedLayerControl](https://github.com/ismyrnow/leaflet-groupedlayercontrol) last commit 2018.

[2021-07-13 15:31] trafficonese commented on #20
I decided in favor of labelgun instead.

The problem with Leaflet.LabelTextCollision is that the map needs a different `renderer` and I didn't manage to make that work.

But since both plugins share the same goal, I think it's ok if I close this issue.

[2021-07-13 15:34] trafficonese commented on #16
Indeed, Labelgun is doable. You can test out the PR and see the example app in `inst/examples/labelgun_app.R`

[2021-07-13 18:14] #20 closed

[2021-07-19 08:40] #16 closed

[2021-09-30 07:56] MarcusChMa opened #22 "Disable WMS getFeatureInfo popup"
I am trying to disable the `getFeatureInfo` pop-up in `addWMS` from the WMS plugin. In the original plugin page, there is a mention of a `options.identify` option that can be set to `FALSE`, however I have not found out how to do this in the `leaflet.extras2` plugin. Is it possible to disable it in R? Thank you for your help!

[2021-09-30 08:26] trafficonese commented on #22
Indeed, that's currently not possible and I also wanted to have that feature. I will implement it as soon as possible.

[2021-09-30 08:43] MarcusChMa commented on #22
Thank you for your reply, looking forward!

[2021-09-30 23:39] gacolitti commented on #13
Is there any way to make the label, popup, or other elements depend on the data? As far as I can tell, the label must be static. How would one indicate an event happened at a specific point and time?

[2021-10-13 09:46] trafficonese commented on #13
Thats a good question indeed. It is currently not possible and I'm not sure if its possible at all with this plugin, but I will have a look.

[2021-10-13 10:17] trafficonese commented on #22
I was wrong, you can just pass the option `identify`. It is passed along and should work with the current version.
Here's an example:

[code]

[2022-02-04 07:59] trafficonese commented on #11
This should work now with the current dev version of leaflet, thanks to this PR https://github.com/rstudio/leaflet/pull/770

[2022-02-04 07:59] #11 closed

[2022-02-08 20:39] jlbarr opened #23 "Pulse Icon"
The original leaflet.extras has been abandoned and it advises not to use it.  Could you implement the pulseIcon that is in that package into yours?

[2022-02-10 17:48] gacolitti commented on #13
Thanks @trafficonese. Did you find any solution/ideas related to the problem I mentioned above?

[2022-02-23 00:55] wyuill commented on #15
Now that leaflet.extras has been archived I wondered if opinions on how this feature additional could be implemented have changed, especially given the package it is based on has a number of updates since it was originally added.

[2022-03-11 14:43] moturoa opened #24 "sidebar example app problem"
In the example app the sidebar is not placed on top of the map;

![image](https://user-images.githubusercontent.com/74360445/157889321-ae48f921-5f27-4f0b-8404-cf20bd1acbb8.png)

[2022-03-14 10:12] trafficonese commented on #24
It works for me, do you see any errors in the browser console?

[2022-03-14 10:23] moturoa commented on #24
I did not see any errors in the console.

In the sidebar example app, I have changed:

line 16: `tagList` to `tags$div`, and `df` with `x` in the `observe` block starting on line 69, and then it works fine!

Perhaps we don't have the same package versions?

[code]

[2022-03-24 20:27] jzadra opened #25 "Plugin Request: WebGL Earth Map 2"
As far as I can tell there is currently no way to show a globe with R leaflet.  There is, however, a project that will take a leaflet map and make it into a globe:  https://www.maptiler.com/news/2014/07/webgl-earth-2-leaflet-compatible/

It would be great to have a way to do this with R!

[2022-03-25 17:35] gacolitti opened #26 "Drift markers to new location"
There are limitations to `addMovingMarker()` and `addPlayback()`. For example, there is no way to add a dynamic popup to `addMovingMarker()`, and I don't think you can add a popup to `addPlayback()` currently.

I tried performing linear interpolation of points that are relatively far away from each other and animating using shiny and `sliderInput()`. The problem with this approach is that the map

[2022-03-25 17:52] gacolitti opened #27 "add options to playbackOptions()"
Would be nice to have the `orientIcons`, `labels`, and `popups` options described here:

https://github.com/hallahan/LeafletPlayback

[2022-03-30 00:38] gacolitti opened #28 "movingMarkerOptions(autostart = FALSE) ignored"
The following example has argument `autostart = FALSE` and yet the markers start automatically:

https://github.com/trafficonese/leaflet.extras2/blob/master/inst/examples/movingmarker_app.R

[2022-03-30 07:29] trafficonese commented on #28
Hey, you're right, the argument doesn't seem to have an effect. But the example has `autostart = TRUE`.

I will look into it.

[2022-03-30 08:31] trafficonese commented on #28
I just pushed [e14bc6f](https://github.com/trafficonese/leaflet.extras2/commit/e14bc6fb01ad9f469216639445a984c92b8e84d9) which fixes this problem.

[2022-03-30 16:01] #26 closed

[2022-03-30 16:23] trafficonese commented on #27
The arguments can be set via `...`, but for `orientIcons` to take effect, you have to assign `iconAnchorX` and `iconAnchorY` to the icon.

I will however add `orientIcons` to the `playbackOptions` as separate argument in the next commit.

The arguments `popups` and `labels` can also be set via `...` but are either true/false and don't really have any effect currently. I am just working on a fix to

[2022-03-30 18:19] gacolitti commented on #27
That's great!

Because I want labels/popups that are dynamic, I am implementing an approach currently that removes and then replaces moving markers based on the time sourced from a `sliderInput()` inside a shiny app. Then uses `moveToMoving()` to accomplish smooth transitions.

But if you implement dynamic popups/labels here, I might be able to abandon this hacky approach.

[2022-03-31 08:44] trafficonese commented on #25
It seems that the project is not maintained anymore and they are recommending to use Cesium.
There is an R-package for that already: https://github.com/r-spatial/cesium

Would that also work for you?

Otherwise I can still look into it.

[2022-03-31 09:10] trafficonese commented on #24
I just updated some packages, but it still looks fine to me.

This is my `sessionInfo`:

[code]

[2022-03-31 09:14] #22 closed

[2022-03-31 09:16] trafficonese commented on #10
The functions `menuItem, mapmenuItems, markermenuItems` are now deprecated and are replaced with:
`context_menuItem, context_mapmenuItems, context_markermenuItems`

[2022-03-31 09:16] #10 closed

[2022-03-31 09:19] #13 closed

[2022-03-31 09:23] trafficonese opened #29 "Labels / Popups for every timestep in Playback"
Based on the discussion in #13.

Markers in `addPlayback` should allow for popups/labels for every timestep.

[2022-03-31 09:24] #28 closed

[2022-03-31 09:29] trafficonese commented on #23
Is the pulseIcon function from leaflet.extras not working as expected or are there bugs to be fixed?

I still use `leafet.extras` heavily and wouldn't give it up right away. I also don't necessarily want to copy code from another package if the function is running fine anyway. I hope that makes sense.

[2022-03-31 19:09] jzadra commented on #25
I'll take a look at it and get back to you.  It does not appear to have been updated since 2 years ago, and has no help documentation.

[2022-04-05 12:13] super-lou opened #30 ""CurrentSize" for sizeModes in easyprintMap not working"
Hi, thank's a lot for your work (that deserve more visibility given the time i spent to find it) !

However, i get an empty png when I use the "CurrentSize" option in an external Shiny button with easyprintMap.
The  "CurrentSize" option is mention in help of [easyprint.R](https://github.com/trafficonese/leaflet.extras2/blob/master/R/easyprint.R) but it seems that there is also the "Current" option

[2022-04-05 13:27] super-lou opened #31 "What is a "custom size object" in easyprintMap"
Hi, not a big js fan here ... I saw that it seems possible to add a [custom size object](https://github.com/rowanwins/leaflet-easyPrint#custom-print-sizes) as mention in the help of easyprintMap but I can't manage to make it works. Could you provide an example please ?

Thank's by advance

[2022-04-06 11:22] trafficonese commented on #30
I will look into it, I remember I had to include a workaround to make the normal options work and unfortunately the plugin itself does not really seem to be actively maintained anymore.

[2022-04-06 11:23] trafficonese commented on #31
Hey, I believe it might not be possible currently. I will also look into that. Thanks for opening the issue!

[2022-04-06 11:33] trafficonese commented on #25
You are right, it does not seem to be fully working yet. You can render a globe, but not add any features on it.
There is an example here [usecase1](https://github.com/r-spatial/cesium/blob/master/usecases/usecase1.R)

[2022-04-06 21:54] super-lou commented on #31
Thank's! Even if the "Current" size option doesn't work I think that the possibility to have a custom size option could be the more interesting for the majority of people due to low resolution issue.
(Sorry not to be able to help more)

[2022-04-07 14:52] trafficonese commented on #31
I just pushed [e84dcd1](https://github.com/trafficonese/leaflet.extras2/commit/e84dcd1d478059dd4e3ba18f05e14c8d96c56bad) which allows to use custom sizeModes. You can see an example here - [easyprint_app.R](https://github.com/trafficonese/leaflet.extras2/blob/master/inst/examples/easyprint_app.R)

The `CurrentSize` still only outputs gray background when used via the `easyprintMap` function. With

[2022-04-07 16:16] super-lou commented on #31
Wahou ! It works perfectly ... but not as i intended.
It was definitly what I ask for but I don't know why I expect my screenshot to have better resolution... it obviously didn't change the dpi. Several issues are on the [leaflet-easyPrint](https://github.com/rowanwins/leaflet-easyPrint/issues/73) repo but no solution is given. If you have one I will definitly take it !
Otherwise I also looking fo

[2022-04-07 20:43] trafficonese commented on #31
Yeah, I think the dpi-issue needs to happen in the dom-to-image library. There is a PR open right now that addresses it. https://github.com/tsayen/dom-to-image/pull/103/files

[2022-04-08 20:44] trafficonese commented on #29
[99b6e7c](https://github.com/trafficonese/leaflet.extras2/commit/99b6e7ceb0b825f69fe2ce6c9bfb7f28f936b665) fixes this.

[2022-04-08 20:44] #29 closed

[2022-04-08 20:52] trafficonese commented on #27
Hey, I just pushed [99b6e7c](https://github.com/trafficonese/leaflet.extras2/commit/99b6e7ceb0b825f69fe2ce6c9bfb7f28f936b665) with upgrades to the playback plugin. It is now possible to use a formula for the popup and label arguments. I hope everything works as expected, I know it's not very clear from the docs, what all these options of the plugin really do :D.

I found it quite confusing and pro

[2022-04-08 20:52] #27 closed

[2022-04-08 22:49] trafficonese opened #32 "Release leaflet.extras2 1.2.0"
Prepare for release:

* [x] Check [current CRAN check results](https://cran.rstudio.org/web/checks/check_results_leaflet.extras2.html)
* [x] [Polish NEWS](https://style.tidyverse.org/news.html#news-release)
* [x] `urlchecker::url_check()`
* [x] `devtools::check(remote = TRUE, manual = TRUE)`
* [x] `devtools::check_win_devel()`
* [x] `rhub::check_for_cran()`
* [x] `revdepcheck::revdep_check(num_wor

[2022-04-11 09:49] super-lou commented on #31
If you think it can enable 300 dpi screenshot, that could really be a big help for me (and I think for anyone because 90 dpi is too low resolution today. ..). I'm sorry that I can't help you again with js but I completely believe in your ability to do so. Really hope this is possible !!

[2022-04-11 11:29] trafficonese commented on #31
I just published a new branch [print_dpi](https://github.com/trafficonese/leaflet.extras2/tree/print_dpi), which allows to set the dpi.
You can see an example in [/inst/easyprint_app.R](https://github.com/trafficonese/leaflet.extras2/blob/print_dpi/inst/examples/easyprint_app.R)

It seems to work, but it only really affects vector-layer, labels and popups. The basemap will not be in a higher resol

[2022-04-11 12:54] super-lou commented on #31
It works great and I think it depends on the basemap! Personally, I really see a big improvement.

90 dpi :
![map_90](https://user-images.githubusercontent.com/60742732/162741413-a7bafd09-5031-41c6-9424-98e779188cde.png)
300 dpi :
![map_300](https://user-images.githubusercontent.com/60742732/162741430-6f7ef05e-5e0c-4f79-b37b-4aa748970c34.png)

I'm really happy with the possibility you're giving me

[2022-04-12 09:09] super-lou opened #33 "Graphical artifact when hidden option set to TRUE in addEasyprint"
Hi, I mainly use easyPrint with a programmatic button so I set the hidden option of addEasyprint to TRUE. But in the example below I see a small gray dot at the top left of the screen just below the invisible print button of leaflet which is hidden in this configuration... If I remove the addEasyprint part the point disappears. Hope you can still do something for me on this one. Thanks a lot !

[c

[2022-04-12 09:16] trafficonese commented on #33
You're right, this dot should not be there. I will look into it.
Until then, you can simply use this snippet and put it somewhere in your ui code:
[code]

[2022-04-12 09:21] super-lou commented on #33
Thanks again for your rapidity !

[2022-04-13 18:33] super-lou opened #34 "Possibility with easyPrint to print also a Shiny panel on map"
Hi, the easyPrint user again! Is there a way to make easyPrint able to also print a Shiny panel (or even an actionButton) with the map as in the example below ? Could it be done with a vector of Shiny id for example ?

[code]

[2022-04-13 18:56] trafficonese commented on #34
The problem is that the panel will not be inside the map div.
There is not really a "normal" way to do this, but you can use `shinyjs` and insert the panel inside the map-div and change the position to absolute. That will put it on the image.

[code]

[2022-04-13 19:22] super-lou commented on #34
Thank you ! I understand the idea but the example given doesn't work for me... don't know if it should. I still can't see on the print the panel. No update on the repo ?

[2022-04-13 19:27] trafficonese commented on #34
No, no updates on the repo. Nothing to do there really..
I updated the example, maybe the `runjs` was running, before the panel was created, so i delayed it by 500ms.

[2022-04-13 19:37] super-lou commented on #34
Wooo javascript is still sorcery to me but it finally works. Thanks again !

[2022-04-13 19:37] #34 closed

[2022-04-14 08:56] trafficonese commented on #30
The CurrentSize will work with the control-buttons inside the map, but not with the function `easyprintMap` and I really dont understand why. If someone has enough nerves and time to dive into it, I would be very grateful to him.

[2022-04-14 09:01] trafficonese commented on #25
This library is not really a leaflet-plugin, it is more a replacement of leaflet.
Based on the documentation all you have to do on the JS-side is to replace `L` with `WE`.
This can't be done here.

[2022-04-14 09:01] #25 closed

[2022-04-15 15:02] super-lou commented on #30
I don't know what to say except that it works like that lol... As visible below I have changed the `Current` to `CurrentSize` and I have deleted the line `input$print` in the `renderLeaflet`.

[code]

[2022-04-15 15:13] trafficonese commented on #30
Indeed it does. Very interesting! Thanks for looking into it!

[2022-04-15 16:03] super-lou commented on #34
The solution you gave me definitely works with the example above, but when I tried to implement it in my code, I had problems... Actually, I have two maps of leaflets on top of each other for obscure reasons... But in this configuration, the printing of a panel that can be hidden does not work. And obviously, if I remove my `mapPreview_div` everything works fine.
Also, in this configuration, the `

[2022-04-15 16:06] #30 closed

[2022-04-15 16:17] trafficonese commented on #34
So, you only want the title to show, when a user clicked on "Show Title" or always?
I also dont really understand why you have 2 maps as one is just empty, but you are inserting the absolute panel in the first map.

You have to be more specific with the css selector. Try this line:
`$("#title_panel").insertAfter($("#map_div .leaflet-pane.leaflet-map-pane"));`

I will look into the problem with hei

[2022-04-15 16:39] super-lou commented on #34
I wanted it to work as you said. I have several panels in my app that are optional to show, but when they are, they should be in the screenshot. And ok thank you very much I learned something again. I have tried something like this but I was changing the `map` from `leaflet-map-pane`...

If you want the explanation I have a map for user normal purposes and a second to "preview" the action like `fi

[2022-04-15 16:46] super-lou commented on #34
I am not shure to understand you but I don't know how you can tell that my `title_panel` is more in the `map` or in the `mapPreview` ... Is this linked with the order of appearance in the server function ?

[2022-04-15 16:54] trafficonese commented on #34
You can browse inside the Html to see where it is.

The original line:
`$("#title_panel").insertAfter($(".leaflet-pane.leaflet-map-pane"));`
was inserting the `#title_panel` into the HTML with a CSS Selector (`$('.leaflet-pane.leaflet-map-pane')`) , and because there were 2 maps on the page, JS was inserting the title_panel into the first option.

So now we change the CSS-selector to `$("#map_div

[2022-04-15 17:11] super-lou commented on #34
To be sure, you browsed inside the Html from your web browser but shiny can't show it to you from the R console?
Ok I understand, completely logical ! But there is no "shiny-iest" way to control such issues otherwise than using runjs as you do?

[2022-04-24 20:04] HuangLiPang opened #36 "Contribute guide"
Hi @trafficonese

Could you provide a simple guide to indicate how to contribute to this repo? I want to add some library to leaflet.extras2, but I don't know how to start it. I read through the antpath binding js but don't know what is `LeafletWidget`.

Thank you!

[2022-04-25 10:34] wimpel opened #37 "feature request add support leaflet-arrowheads"
https://github.com/slutske22/leaflet-arrowheads

A very nice little feature to add arrows at the end (or alongside) (poly)lines.
I already got this plugin working using htmltools::onRender.. but since my java-skikks are non-existent, I would very much like to see this implemented to a addPolylinesWithArrows()-like-function

[2022-04-26 07:55] trafficonese commented on #36
Hey, yeah that's a good idea. I will try to come up with a little How-To readme. I think I will use the FR #37 for it, as it's quite straightforward and I implemented that plugin already somewhere.

[2022-05-02 17:34] vanhry opened #38 "awesomeIcons in addMovingMarker for direction"
Hello!
I'm using great function from your project `addMovingMarker`. It works fine. But I'm trying to use `makeAwesomeIcon` instead of `makeIcon`, because it's important for me to rotate icon during visualization.
Is it possible to do it with `makeAwesomeIcon` or with some other function?
Thank you for any help you can offer!
There is a code:

[code]

[2022-05-03 09:40] trafficonese commented on #38
@vanhry Hey, I just pushed [f74d994](https://github.com/trafficonese/leaflet.extras2/commit/f74d994c042c6259ab5a03ff0020edf5a833f8fc) which makes it possible to use `awesomeIcons`.

[2022-05-03 09:41] #38 closed

[2022-05-03 11:47] vanhry commented on #38
@trafficonese thank you for such a quick response! Is it possible that the marker left behind the path that he passed?

[2022-05-03 11:53] trafficonese commented on #38
I'm not sure I understand the question..
Do you want the icon to stay at the locations he passed? That would not be possible I think.

[2022-05-03 12:14] vanhry commented on #38
@trafficonese polyline after the movingmarker, which would mark path that marker already passed

[2022-05-03 14:52] trafficonese commented on #38
no unfortunately, that is not possible.

[2022-05-04 12:30] vanhry commented on #38
@trafficonese I understand, thank you. I have another question, is it possible to put multiple moving markers on the map? (but without repeating `%>% addMovingMarker` again and again)

[2022-05-05 13:23] #36 closed

[2022-05-05 13:23] #37 closed

[2022-05-05 13:24] trafficonese commented on #36
@HuangLiPang I just published a HowTo tutorial. Feel free to check it out and tell me if you miss something.

[2022-05-05 13:25] HuangLiPang commented on #36
@trafficonese Thank you!

[2022-05-06 07:57] trafficonese commented on #38
No that is also not possible.

[2022-05-10 19:44] #32 closed

[2022-05-27 18:27] paragemini opened #40 "New Feature Reuqest : Leaflet Pattern"
Thank you for the lovely pakcage.

Is it possible to add one more feature to this package ?  Something like leaflet.pattern or does it exist already in some other packages?

https://teastman.github.io/Leaflet.pattern/pattern-stripes.html

This would be really helpful in geo-spatial visualizations

[2022-06-21 08:02] ccamara opened #41 "Sidebar v2 working with crosstalk"
Apparently, sidebar v2 is only working with shiny (https://github.com/trafficonese/leaflet.extras2/blob/master/inst/examples/sidebar_app.R), but I am wondering if it would be possible to make it work with crosstalk (https://rstudio.github.io/crosstalk/), so it could be deployed without a need for a shiny server.

[2022-06-22 06:57] trafficonese commented on #41
Hey @ccamara , unfortunately I havent worked too much with crosstalk so my knowledge about it is very limited, but isn't it supposed to connect htmlwidgets together?
I am not sure how this plugin should be included with crosstalk, since the sidebar is just a placeholder for different inputs or outputs.
Do you mean markdown maybe?

[2022-06-22 06:58] trafficonese commented on #40
Hey @paragemini, I don't think that plugin is included already somewhere but I think it was already requested for `leaflet.extras`.

I will have a look at it.

[2022-06-22 08:52] salvafern opened #42 "Using CQL or OGC filters on addWMS()"
Hi,

I was wondering if it was possible to apply a filter to show only a part of a layer when using `addWMS()` and I didn't see any issue or documentation here about this. But **I tried myself and it works!** I thought to share it for anyone who might need it, or to be included in a future vignette.

You just need to pass the filter in `baseUrl`. Here I filtered on attributes using a [CQL filter](

[2022-06-22 09:53] trafficonese commented on #42
@salvafern Yes indeed, I was also looking once for the CQL filters and had to test out different options.
I will include it in the documentation! Thanks for bringing it up, I already forgot about it again 🙈

[2022-07-07 07:19] ccamara commented on #41
Good question, @trafficonese .
Yes, crosstalk is aimed at implementing cross-widget interactions (currently, linked brushing and filtering). I do not know how it relates to sidebar, but I was asking because reading from the documentation it seemed that it requires shiny for some kind of reactiveness (not sure if I understand why, though).

So, let me rephrase my question: is it possible to use sid

[2022-08-03 02:46] Chris-Has opened #43 "addArrowhead function not rendering"
Using R 4.1.2 and tried both CRAN and dev version of package.
Example renders a blank map. No error msgs. Other functions work.
library(leaflet)
leaflet() %>%
  addArrowhead(data = atlStorms2005)

[2022-08-03 12:06] trafficonese commented on #43
Interesting, it is working in Shiny with R 4.20 but not in the Rstudio Viewer.
Somehow it is not appending the JS-libraries, so this errors pops up in the console:
`L.polyline(...).arrowheads is not a function`

[2022-08-19 12:33] myxBeni opened #44 "addEasyprint does only export the top part of a map for "Current Size""
First of all, many thanks for the great work!

The (wonderful !) easyprint-button only exports the first row of tiles when setting the extent to current size. A4 seems to work.n Tested on Chrome and Safari with the latest version of leaflet.extras2.

[code]
![Anmerkung-6](https://user-images.githubusercontent.com/109787519/185618432-df5fd0c1-9043-4384-b9c4-8bf42b679c3a.png)

[2022-08-22 09:24] trafficonese commented on #44
If you the same code within a Shiny-app everything seems to work fine..
[code]

So not sure entirely sure where the problem might be.. or if i can fix it.

[2022-08-22 14:53] svenb78 opened #45 "Overlaying sidebar using shinydashboard and addSidebar"
Hi,

my problem is not easy to describe but I will do my best.

I use `golem` for a modularized shiny app, and within `app_ui.R` I define a sidebar:

[code]

Now, I would like to integrate a `shinydashboard::menuItem()` with a leaflet map having its own sidebar. For testing, I used the build-in `leaflet.extras2::addSidebar()` example which can be found via:

[code]

In the result, the leaflet side

[2022-08-22 18:01] svenb78 commented on #45
I tried. The examples takes the `leaflet.extras2` example named `sidebar_app.R` and "frames" it by  `shinydashboardPlus::dashboardSidebar` code. Looks not nice but rare. :-)

[code]

[2022-08-23 08:21] myxBeni commented on #44
Indeed, I don't encounter the problem in a Shiny-App opened in a Browser (Firefox and Safari). However, I need to distribute the app to several machines and currently. As we don't run a shiny server, I distributed the HTML...

[2022-08-23 11:20] trafficonese commented on #45
I just pushed a commit to the sidebar branch, where I changed the CSS-classes.

Can you try if that fixes your problem?

`remotes::install_github("trafficonese/leaflet.extras2@sidebar")`

[2022-08-23 12:38] svenb78 commented on #45
It looks like. :-) The above example works, and -- at a first glance -- also the more complex golem app. Tank you!

Annotation: After using `remotes::install_github()` and running the app on a Ubuntu server, I got an error message `lazy-load database '/[PATH_TO_R_LIBRARIES]/leaflet.extras2.rdb' is corrupt`. The error disappeared after re-installing `leaflet.extras2` and again `remotes::install_git

[2022-08-23 12:42] trafficonese commented on #45
Awesome, I'll check it a bit more and then merge it to the main branch

[2022-08-23 13:07] svenb78 commented on #45
I still have a problem. The code (golem module):

[code]

The result:

![leaf](https://user-images.githubusercontent.com/86719356/186165633-01526277-8c03-4eda-a23b-ed64d539c14f.jpg)

The rendering is no longer weird, but the leaflet sidebar does not appear. Where is my mistake?

[2022-08-23 14:03] trafficonese commented on #45
I dont really know anything about `golem`, but if you can make a reproducile example with shiny modules I'm glad to help.

[2022-08-23 14:11] trafficonese commented on #42
The commit [b8c8aaa](https://github.com/trafficonese/leaflet.extras2/commit/b8c8aaa05f7b1d71e7078d938f1892ee11e933ec) includes a little description about CQL-Filters

[2022-08-23 20:58] svenb78 commented on #45
I created a modularized mini example without `golem`, and that worked fine. Your solution also works within a mini app made with `golem`. So, I think, in my case might emerge some undesired interactions with other modules or configs which seems not to be an issue of your package. Good for you, bad for me. :-)

[2022-08-25 14:43] svenb78 commented on #45
Hi,

I found out, that the issue might be _namespacing_. Within my `golem` app, I use multiple leaflets on different menu items. Inspecting the HTML code, I saw that my leaflet sidebar contents are assigned to a wrong leaflet, indeed a leaflet at a totally different menu item. So, I extended my mini examples by another leaflet, and see: The same problem. I came across with https://stackoverflow.co

[2022-08-26 08:05] trafficonese commented on #45
Indeed there seem to be some bugs in my code. I am not appending the leaflet map correctly and I'm also not sure about the module namespacing, thats probably wrong too.

Also interesting, whenever I start your example with a fresh session, the app crashes with this error:
[code]
When I restart it then it works fine..

[2022-08-26 10:03] svenb78 commented on #45
In I fresh session, I get the same message at first run. Forgot to mention it. Sorry.

[2022-08-26 10:19] trafficonese commented on #45
The sidebar branch has a new commit [70e2b17](https://github.com/trafficonese/leaflet.extras2/commit/70e2b17984349ddbff134af413c873eceb37b7cf) which should fix problems related with modules and has some CSS-fixes too.

[2022-08-30 06:36] svenb78 commented on #45
At a first glance: seems to work. :-) THANK YOU!

[2022-09-02 08:46] #45 closed

[2022-09-02 08:47] #42 closed

[2022-09-03 11:51] trafficonese commented on #43
I think the problem is related to [this](https://stackoverflow.com/questions/43507180/rstudio-viewer-throws-error).

The RStudio browser apparently doesnt accept JavaScript ES6.

Unfortunately nothing I can do here. I opened an issue at Rstudio https://github.com/rstudio/rstudio/issues/11900

[2022-09-03 11:51] #43 closed

[2022-09-03 13:11] trafficonese commented on #41
Apparently it is possible :)

I just pushed [f0e009d](https://github.com/trafficonese/leaflet.extras2/commit/f0e009d99d14160c1c9fa2b1a128b9699694fbec) which gets the correct map-id, so the sidebar is appended correctly.

Here is a little markdown with a leaflet sidebar:
[code]

[2022-09-03 13:11] #41 closed

[2022-09-03 15:29] ccamara commented on #41
Great, thanks! I will be playing with this to see if I can replace tooltips with information within the sidebar!

[2022-09-07 08:39] trafficonese commented on #43
Apparently this is fixed in the newer RStudio versions.
https://dailies.rstudio.com/rstudio/elsbeth-geranium/electron/windows/

I just succesfully tried with Rstudio 2022.11.0 Build 166

[2022-09-10 04:21] Chris-Has commented on #43
Great! Thanks trafficonese

[2022-10-24 14:43] edwardlavender opened #48 "Spinner does not appear in Shiny application"
I have wrapped the example for `?addSpinner` into an R Shiny application., but the spinner does not appear.

Here is a reproducible example based on the example given for `?addSpinner`. I expected a spinner to appear during the 'sleep' phase, but no spinner appears.

[code]

[2022-10-25 08:03] trafficonese commented on #48
I'm pretty sure this is a bug in the upstream repo. There is not much I can do with this plugin. Its either start or stop the spinner.
I think it could be related to this issue https://github.com/makinacorpus/Leaflet.Spin/issues/12

[2022-10-25 08:10] trafficonese commented on #48
You could maybe do something like that:

[code]

[2022-10-27 08:28] edwardlavender commented on #48
That's great - thanks a lot!

[2022-10-31 21:18] vkentner opened #49 ""addHexbin" in leaflet.extras2 doesn't allow for mean/sum"
Using "addHexbin" in leaflet.extras2 only counts the number of records in each hexbin but there are many use cases for the mean, sum or other calculations within the hexbin.  For example a dataset that is a list of species and the abundance of each species.  Instead of a count of the number of times a species appears in each hexbin it would be useful to have the total or average abundance in a hex